.jumbotron{
    background-color: cadetblue;
    color: whitesmoke;
}

body{
    background-color: blanchedalmond;
}

.card-header{
    background-color: cadetblue;
}

.card-header h2{
    color: whitesmoke;
}